In [1]:
#speed 
list_01 = [i for i in range (10000000)]
list_02 = [i for i in range (10000000,20000000)]
list_03 = []
import time
start = time.time()
for i in range(len(list_01)):
     list_03.append(list_01[i] + list_02[i] )

print(time.time()-start)

1.1624293327331543

In [2]:
import numpy as np 
a =np.random.randint(1,100,20)
a

array([19, 80, 36, 42, 16, 13, 25, 20, 78, 10, 70, 56, 92, 90, 55, 42, 83,
       23, 57, 30])

In [3]:
np.where(a>50  )

(array([ 1,  8, 10, 11, 12, 13, 14, 16, 18], dtype=int64),)

In [4]:
import pandas as pd
import numpy as np

dataset= pd.read_csv("./HousingData.csv")

In [5]:
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [6]:
import sklearn

Libraries installed successfully!

In [10]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [12]:
from sklearn.preprocessing import StandardScaler